# Convert df_events to meta dataframe for pyphotometry analysis
- Meant to be a bridge between the pyphotometry analysis and df_events for the time being

In [1]:
%reload_ext autoreload
%autoreload 2
import pandas as pd
import seaborn as sns
import numpy as np
from trialexp.process.pycontrol.session_analysis import *
from trialexp.process.pycontrol.utils import *
from trialexp.process.pycontrol.session_analysis import Session
import sys
sys.path.append(r'../../../../pyControl')
import tools.data_import as di

Warning : sktime package not installed, this is `only an issue
        if you want to export datasets to perform Maching Learning tasks.
        To solve, type pip install sktime in your environment

## Read task definition

In [90]:
basefolder = r'C:\code\trialexp'
tasks = pd.read_csv(basefolder+'\\params\\tasks_params.csv', usecols=[1, 2, 3, 4], index_col=False)
task_name = 'reaching_go_spout_nov22'

trial_window = [-2000, 4000]
timelim = [1000, 4000] # in ms

conditions, triggers, events_to_process = get_task_specs(tasks,  task_name)

## Read pycontrol file

In [91]:

pycontrol_dir = 'Z:\\Teris\\ASAP\\pycontrol\\reaching_go_spout_nov22\\'
filename = 'kms062-2023-02-06-112451'
smrx_output_dir = 'Z:\\Teris\\ASAP\\pycontrol\\reaching_go_spout_nov22\\processed\\'
# df_session = di.session_dataframe(pycontrol_dir+filename+'.txt')


filename = r'Z:\Julien\Data\head-fixed\pycontrol\reaching_go_spout_bar_nov22\kms063-2023-02-17-112445.txt'

df_session = di.session_dataframe(filename)
df_pycontrol = parse_session_dataframe(df_session, conditions)

Importing data file: kms063-2023-02-17-112445.txt

In [92]:
from datetime import datetime
session_time = datetime.strptime(df_pycontrol.attrs['Start date'], '%Y/%m/%d %H:%M:%S')
subjectID = df_pycontrol.attrs['Subject ID']

## Extract trial-related information from events

In [93]:
df_events_trials, df_events = extract_trial_by_trigger(df_pycontrol, triggers[0], conditions+events_to_process, 
                                            trial_window, subjectID, session_time)
df_events_trials

,US_end_timer_trial_time,bar_trial_time,bar_off_trial_time,busy_win_trial_time,hold_timer_trial_time,spout_trial_time,water_on_trial_time,trial_nb,uid,timestamp,trigger,valid
trial_nb,,,,,,,,,,,,
1.0,"[519.0, 819.0]","[-1517.0, -1441.0, -847.0, 1500.0, 1700.0, 178...","[-1541.0, -1456.0, -863.0, -70.0, 1685.0, 1753...",[0.0],NaN,"[0.0, 299.0, 899.0, 1604.0, 2155.0]","[500.0, 800.0]",1.0,kms063_2023-02-17_11:24:45_1.0,89737.0,busy_win,True
2.0,"[519.0, 666.0]",NaN,[-1.0],[0.0],[-1930.0],"[146.0, 383.0, 3257.0]","[500.0, 647.0]",2.0,kms063_2023-02-17_11:24:45_2.0,241849.0,busy_win,True
3.0,[519.0],"[41.0, 90.0, 105.0, 146.0, 199.0, 741.0, 1408.0]","[-1.0, 57.0, 105.0, 120.0, 175.0, 722.0, 1365.0]",[0.0],[-1177.0],NaN,[500.0],3.0,kms063_2023-02-17_11:24:45_3.0,343231.0,busy_win,True
4.0,[519.0],"[35.0, 427.0, 482.0, 778.0, 1509.0]","[-1.0, 402.0, 443.0, 763.0, 1478.0]",[0.0],NaN,NaN,[500.0],4.0,kms063_2023-02-17_11:24:45_4.0,488962.0,busy_win,True
5.0,"[519.0, 951.0]",NaN,[-102.0],[0.0],NaN,"[-1.0, 432.0, 2173.0, 3096.0]","[500.0, 932.0]",5.0,kms063_2023-02-17_11:24:45_5.0,501900.0,busy_win,True
6.0,[520.0],"[148.0, 164.0, 264.0]","[65.0, 163.0, 226.0]",[0.0],[-1573.0],[0.0],[501.0],6.0,kms063_2023-02-17_11:24:45_6.0,576127.0,busy_win,True
7.0,"[519.0, 1252.0, 2043.0]",NaN,[472.0],[0.0],NaN,"[-1.0, 733.0, 1523.0]","[500.0, 1233.0, 2024.0]",7.0,kms063_2023-02-17_11:24:45_7.0,593485.0,busy_win,True
8.0,"[519.0, 1776.0, 2119.0]","[54.0, 161.0, 231.0, 311.0, 711.0]","[-1.0, 134.0, 210.0, 293.0, 605.0, 726.0]",[0.0],NaN,"[1257.0, 1599.0, 2187.0, 2575.0]","[500.0, 1757.0, 2100.0]",8.0,kms063_2023-02-17_11:24:45_8.0,688401.0,busy_win,True
9.0,"[520.0, 979.0]","[20.0, 650.0]","[0.0, 596.0]",[0.0],NaN,[459.0],"[501.0, 960.0]",9.0,kms063_2023-02-17_11:24:45_9.0,852597.0,busy_win,True
10.0,"[520.0, 1383.0, 2193.0]",[421.0],"[344.0, 679.0]",[0.0],NaN,"[0.0, 863.0, 1673.0, 2336.0, 3255.0, 3273.0, 3...","[501.0, 1364.0, 2174.0]",10.0,kms063_2023-02-17_11:24:45_10.0,1099779.0,busy_win,True
11.0,"[520.0, 949.0]","[-703.0, -380.0]","[-722.0, -503.0, -78.0]",[0.0],NaN,"[0.0, 430.0, 2071.0]","[501.0, 930.0]",11.0,kms063_2023-02-17_11:24:45_11.0,1142362.0,busy_win,True
12.0,[519.0],[53.0],[0.0],[0.0],NaN,NaN,[500.0],12.0,kms063_2023-02-17_11:24:45_12.0,1662213.0,busy_win,True
13.0,"[520.0, 1335.0, 2425.0]","[-1743.0, -1049.0, -591.0, -517.0, 58.0]","[-1826.0, -1335.0, -613.0, -533.0, 15.0, 286.0]",[0.0],NaN,"[0.0, 816.0, 1906.0, 1925.0, 2293.0, 2986.0, 3...","[501.0, 1316.0, 2406.0]",13.0,kms063_2023-02-17_11:24:45_13.0,1676124.0,busy_win,True

Compute conditions:

In [94]:
df_conditions = compute_conditions_by_trial(df_events_trials, conditions)
df_conditions.head()

,uid,trigger,valid,US_end_timer,water_on,Success:True,Success:False,busy_win,spout,button_press,hold_timer
trial_nb,,,,,,,,,,,
1.0,kms063_2023-02-17_11:24:45_1.0,busy_win,True,True,True,False,False,True,True,False,False
2.0,kms063_2023-02-17_11:24:45_2.0,busy_win,True,True,True,False,False,True,True,False,True
3.0,kms063_2023-02-17_11:24:45_3.0,busy_win,True,True,True,False,False,True,False,False,True
4.0,kms063_2023-02-17_11:24:45_4.0,busy_win,True,True,True,False,False,True,False,False,False
5.0,kms063_2023-02-17_11:24:45_5.0,busy_win,True,True,True,False,False,True,True,False,False

Compute success based on definition

In [87]:
compute_success(df_events_trials, df_conditions, task_name)

TypeError: object of type 'float' has no len()

In [11]:
df_events_trials.loc[:,['spout_trial_time','US_end_timer_trial_time']]

,spout_trial_time,US_end_timer_trial_time
trial_nb,,
1.0,[-1.0],"[19.0, 21.0]"
2.0,"[-1.0, 26.0]",[20.0]
3.0,[0.0],[21.0]
4.0,"[0.0, 1124.0]","[21.0, 1145.0]"
5.0,"[0.0, 254.0, 271.0, 292.0, 307.0, 327.0, 344.0...","[21.0, 275.0, 365.0]"
6.0,"[-1567.0, 0.0, 561.0, 937.0, 1116.0]","[-1546.0, 21.0, 582.0, 958.0, 1137.0]"
7.0,"[-1995.0, -1782.0, -1474.0, 0.0]","[-1974.0, -1761.0, -1452.0, 21.0]"
8.0,"[-1.0, 458.0]","[21.0, 480.0]"
9.0,"[-1.0, 64.0]",[21.0]
10.0,"[-1.0, 64.0]",[21.0]
11.0,"[0.0, 65.0]",[21.0]
12.0,"[-1.0, 67.0, 1827.0, 1895.0]","[21.0, 1848.0]"
13.0,"[-1.0, 53.0, 68.0]",[21.0]
14.0,"[-1.0, 270.0]","[20.0, 290.0]"
15.0,[-1.0],[20.0]
16.0,"[-814.0, 0.0]","[-794.0, 20.0]"
17.0,"[0.0, 75.0, 288.0, 353.0]","[20.0, 308.0]"
18.0,[-1.0],[20.0]
19.0,[-1.0],[20.0]
20.0,[0.0],[20.0]

In [21]:
reach_time_before_reward = df_events_trials.loc[:,['spout_trial_time','US_end_timer_trial_time']].apply(
        lambda x: find_last_time_before_list(x['spout_trial_time'], x['US_end_timer_trial_time']), axis=1)  
# select only trials with a spout event before a US_end_timer event
reach_bool = reach_time_before_reward.notnull()
# select trial where the hold time was present (not aborted)
reach_success_bool = reach_bool & df_conditions.
# set these trials as successful
print(reach_bool)  
df_conditions.loc[(reach_success_bool), 'success'] = True

trial_nb
1.0     True
2.0     True
3.0     True
4.0     True
5.0     True
6.0     True
7.0     True
8.0     True
9.0     True
10.0    True
11.0    True
12.0    True
13.0    True
14.0    True
15.0    True
16.0    True
17.0    True
18.0    True
19.0    True
20.0    True
dtype: bool

self = self.extract_data_from_session()
self = self.compute_trial_nb(trial_window)
self = self.compute_conditions_by_trial()
self = self.compute_success()
self.df_events = tidy_up_duplicate_columns(self.df_events, self.df_conditions)    
self.metadata_dict = self.create_metadata_dict(trial_window)